<!DOCTYPE html>
<html>
  <head>
      <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
        <div class="container px-5 py-12 mx-auto lg:px-20">
            <div class="flex flex-col flex-wrap pb-6 mb-12 text-black ">
                <h1 class="mb-12 text-3xl font-medium text-black">
                    Business case.
                  <a>Go to</a> <a href={{url}} style="color:blue"> /docs.</a> 

                </h1>
            </div>
        </div>
  </body>
</html>
